<div class="question-container">
  <h1>新規投稿</h1>
  <%= form_with model: @question, local: true do |f|%>
  <div class="form-group">
    <p><%=f.label :"【質問】",class: 'question-title'%></p>
    <%=f.text_area :title ,class: 'form-control',rows:3%>
  </div>
  <div class="form-group">
    <%=f.label :"【詳細】",class: 'question-detail'%>
    <%=f.text_area :detail ,class: 'form-control' ,rows:5%>
  </div>
  <div class="form-group">
    <%=f.submit :"送信",class: 'btn btn-primary btn-block' %>
  </div>
      <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
  <%end%>
</div>

<% @questions.each do |question|%>
  <div class="card w-90">
    <%=link_to question_path(question), class: "card-link" do %>
      <div class="card-body">
        <div class="col-md-7">
          <h5 class="card-title"><%= question.title %></h5>
        </div>
        <div class="col-md-5">
          <p class="card-time"> <%= question.created_at.strftime("質問日 %Y年%m月%d日") %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>