<h1>
  <%= @question.title %>
</h1>

<div class="detail">
  <%= markdown(@question.detail).html_safe %>
</div>


<% @solutions.each.with_index(1) do |solution,i|%>
<hr>
  <%= "回答 #{i}" %>
  <%= markdown(solution.content).html_safe %>
<% end %>

<div class="solution-container">
  <h1>回答投稿</h1>
  <%= form_with model: [@question,@solution], local: true do |f|%>
  <div class="form-group">
    <%=f.label :"【回答】"%>
    <%=f.text_area :content ,class: 'form-control' ,rows:5%>
  </div>
  <div class="form-group">
    <%=f.submit :"送信",class: 'btn btn-primary btn-block' %>
  </div>

  <%end%>
</div>